# Binary directory
*build*

# VSCode
.vscode/

# CLion
.idea/

# MDK-ARM
.MDK-ARM
DebugConfig
*uvguix*

# CMakeFiles
CMakeFiles
CMakeCache.txt
Makefile
Testing

*.o
*.d
*.hex
*.bin
*.elf
*.axf
*.crf
*.map
*.htm
*.lnp
*.sct
*.dep
*.lst
*.scvd
*.iex
*.bat
*.Bak
*.__i
*.i
*.user

设计思路
